<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<!--<Property name="baseLogDir">/Users/mwf/work/tomcats/tomcat7-guess-branches/logs/dsp</Property>-->
		<Property name="baseLogDir">/data/engine-logs</Property>
		<Property name="pattern">%d{yyyy-MM-dd HH:mm:ss} [%-5level] %l \: %msg%n</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<!-- 记录所有日志-->
		<RollingFile name="allLog" fileName="${baseLogDir}/all.log"
			filePattern="${baseLogDir}/all.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		<RollingFile name="errorLog" fileName="${baseLogDir}/error.log"
			filePattern="${baseLogDir}/error.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="xtarderDebugLogTmp" fileName="${baseLogDir}/xtarderDebugLog.log"
			filePattern="${baseLogDir}/xtarderDebugLog.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="besDebugLogTmp" fileName="${baseLogDir}/besDebugLog.log"
			filePattern="${baseLogDir}/besDebugLog.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="hzDebugLogTmp" fileName="${baseLogDir}/hzDebugLog.log"
			filePattern="${baseLogDir}/hzDebugLog.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="tanxDebugLogTmp" fileName="${baseLogDir}/tanxDebugLog.log"
			filePattern="${baseLogDir}/tanxDebugLog.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="vamDebugLogTmp" fileName="${baseLogDir}/vamDebugLog.log"
			filePattern="${baseLogDir}/vamDebugLog.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		
		<RollingFile name="adxDebugLog" fileName="${baseLogDir}/myDebugLog.log"
			filePattern="${baseLogDir}/myDebugLog.log.%d{MM-dd-yyyy}">
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
	</Appenders>
	
	<Loggers>
		<!-- <Root level="debug"> -->
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="allLog" />
			<AppenderRef ref="errorLog" />
		</Root>
		<Logger name="xtarderDebugLog" level="error" additivity="false">
            <AppenderRef ref="xtarderDebugLogTmp"/>
        </Logger>
        <Logger name="besDebugLog" level="error" additivity="false">
            <AppenderRef ref="besDebugLogTmp"/>
        </Logger>
        
        <Logger name="hzDebugLog" level="error" additivity="false">
            <AppenderRef ref="hzDebugLogTmp"/>
        </Logger>
        
        <Logger name="tanxDebugLog" level="error" additivity="false">
            <AppenderRef ref="tanxDebugLogTmp"/>
        </Logger>
        
        <Logger name="vamDebugLog" level="error" additivity="false">
            <AppenderRef ref="vamDebugLogTmp"/>
        </Logger>
        
        <Logger name="myDebugLog" level="error" additivity="false">
            <AppenderRef ref="adxDebugLog"/>
        </Logger>

		
	</Loggers>
</Configuration>