<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtd.web.dao.impl.CreativeSizeDao">

	<sql id="table">creative_size</sql>

	<sql id="Base_Column_List">
		id, size,create_time,remark
	</sql>

	<resultMap id="BaseResultMap" type="com.jtd.web.po.CreativeSize">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<select id="listBy" resultMap="BaseResultMap" parameterType="com.jtd.web.po.CreativeSize">
		select
		<include refid="Base_Column_List" />
		from creative_size
		where size = #{size,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from creative_size
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="com.jtd.web.po.CreativeSize">
		insert into creative_size
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="size != null">
				size,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="size != null">
				#{size,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.jtd.web.po.CreativeSize">
		update creative_size
		<set>
			<if test="size != null">
				size = #{size,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
</mapper>