<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jtd.web.dao.impl.ReportDemoDataSettingDao" >

    <resultMap id="BaseResultMap" type="com.jtd.web.po.ReportDemoDataSetting" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="partner_id" property="partnerId" jdbcType="BIGINT" />
        <result column="min_pv" property="minPv" jdbcType="INTEGER" />
        <result column="max_pv" property="maxPv" jdbcType="INTEGER" />
        <result column="min_uv_ratio" property="minUvRatio" jdbcType="DECIMAL" />
        <result column="max_uv_ratio" property="maxUvRatio" jdbcType="DECIMAL" />
        <result column="min_uclick_ratio" property="minUclickRatio" jdbcType="DECIMAL" />
        <result column="max_uclick_ratio" property="maxUclickRatio" jdbcType="DECIMAL" />
        <result column="gross_profit" property="grossProfit" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, partner_id, min_pv, max_pv, min_uv_ratio, max_uv_ratio,
        min_uclick_ratio, max_uclick_ratio, gross_profit, create_time, remark
    </sql>

    <select id="listByAll" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from report_demo_data_setting
    </select>
    
     <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from report_demo_data_setting
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getMapPageBy" resultType="java.util.HashMap" parameterType="map" >
      select p.id partner_id,p.partner_name partnerName,r.* from partner p
      left join report_demo_data_setting r on p.id = r.partner_id
      where 1=1
      <if test="condition.partnerName != null">
          and p.partner_name like '%${condition.partnerName}%'
      </if>
      ORDER BY r.id DESC
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer" >
        delete from report_demo_data_setting
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.jtd.web.po.ReportDemoDataSetting" >
        insert into report_demo_data_setting
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="partnerId != null" >
                partner_id,
            </if>
            <if test="minPv != null" >
                min_pv,
            </if>
            <if test="maxPv != null" >
                max_pv,
            </if>
            <if test="minUvRatio != null" >
                min_uv_ratio,
            </if>
            <if test="maxUvRatio != null" >
                max_uv_ratio,
            </if>
            <if test="minUclickRatio != null" >
                min_uclick_ratio,
            </if>
            <if test="maxUclickRatio != null" >
                max_uclick_ratio,
            </if>
            <if test="grossProfit != null" >
                gross_profit,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="partnerId != null" >
                #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="minPv != null" >
                #{minPv,jdbcType=INTEGER},
            </if>
            <if test="maxPv != null" >
                #{maxPv,jdbcType=INTEGER},
            </if>
            <if test="minUvRatio != null" >
                #{minUvRatio,jdbcType=DECIMAL},
            </if>
            <if test="maxUvRatio != null" >
                #{maxUvRatio,jdbcType=DECIMAL},
            </if>
            <if test="minUclickRatio != null" >
                #{minUclickRatio,jdbcType=DECIMAL},
            </if>
            <if test="maxUclickRatio != null" >
                #{maxUclickRatio,jdbcType=DECIMAL},
            </if>
            <if test="grossProfit != null" >
                #{grossProfit,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.jtd.web.po.ReportDemoDataSetting" >
        update report_demo_data_setting
        <set >
            <if test="partnerId != null" >
                partner_id = #{partnerId,jdbcType=BIGINT},
            </if>
            <if test="minPv != null" >
                min_pv = #{minPv,jdbcType=INTEGER},
            </if>
            <if test="maxPv != null" >
                max_pv = #{maxPv,jdbcType=INTEGER},
            </if>
            <if test="minUvRatio != null" >
                min_uv_ratio = #{minUvRatio,jdbcType=DECIMAL},
            </if>
            <if test="maxUvRatio != null" >
                max_uv_ratio = #{maxUvRatio,jdbcType=DECIMAL},
            </if>
            <if test="minUclickRatio != null" >
                min_uclick_ratio = #{minUclickRatio,jdbcType=DECIMAL},
            </if>
            <if test="maxUclickRatio != null" >
                max_uclick_ratio = #{maxUclickRatio,jdbcType=DECIMAL},
            </if>
            <if test="grossProfit != null" >
                gross_profit = #{grossProfit,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    
    <!-- 删除数据 -->
	<delete id="deleteByPartnerId" parameterType="java.lang.Long">
		DELETE 
		FROM 
		report_demo_data_setting
		WHERE partner_id = #{partnerId,jdbcType=BIGINT}
	</delete>
</mapper>